<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/bg4.png" %}');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body>
  {% include "service/navbar.html" %}
  <br><br>

  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <marquee behavior="scroll" direction="left">
    <img src="{% static "images/db.png" %}" width="120" height="80" alt="db" />
    <img src="{% static "images/ford.png" %}" width="120" height="80" alt="ford" />
     <img src="{% static "images/amazon.png" %}" width="120" height="80" alt="amazon" />
     <img src="{% static "images/bosch.png" %}" width="120" height="80" alt="bosch" />
     <img src="{% static "images/p&g.png" %}" width="120" height="80" alt="p&g" />
     <img src="{% static "images/accenture.png" %}" width="120" height="80" alt="accenture" />
     <img src="{% static "images/benz.png" %}" width="120" height="80" alt="benz" />
     <img src="{% static "images/bmw.png" %}" width="120" height="80" alt="rolls" />
     <img src="{% static "images/suzuki.png" %}" width="120" height="80" alt="suzuki" />
 </marquee>
  <br><br>

  {% include "service/footer.html" %}
</body>

</html>
